/*****Cricket-Play*****/
body{
    background: #fff;
}

.bat{
    transition: transform .2s ease-in-out;
}

.ball{
    position: relative;
    left: 650px;
    top: 70px;
    transition: transform 2s ease-in .1s;
}

.ball img{
    height: 65px;
    width: 65px;
}

.cricket-box:hover .bat{
    transform:translateX(100px);
    transform-origin: 100% 0%;
    transform: rotate(-60deg);
}

.cricket-box:hover .ball{
    transform: translate(1000px, -200px);
}
